@charset "UTF-8";

#wrap{
	width:1200px;
	margin:0 auto;
}

header{
	height:80px;
	background-color:#d8d8d8;
}
section{
	min-height:500px;
}
.contents > .user-box{
	width:300px;
}

.contents > .contents-box{
	width:600px;
}

.h-fixed-textarea{
	resize: none;
	height: 10em;
}

footer{
	height:70px;
	background-color:#d8d8d8;
}